@font-face {
  font-family: 'Shadows Into Light';
  src: url('ShadowsIntoLight.eot'); /* IE */
}
@font-face {
  font-family: 'Shadows Into Light';
  src: url('ShadowsIntoLight.ttf') format("truetype"); /* resto de navegadores */
}

img{
    border: none;
}

a{
  outline: none;
} 

.peephole{
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #006600;
    text-decoration: none;
    margin-left: 20px;
}
.handtext{
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}
.plain-handtext{
    font-family: 'Shadows Into Light', cursive;
    font-size: 13px;
}
.work{
    color: black;
    text-decoration: none;
    outline: 0;
    margin-left: 175px;
    margin-right: 20px;
}
.about{
    color: black;
    text-decoration: none;
    outline: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.mail{
    color: black;
    text-decoration: none;
    border: none;
    outline: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.top{
    height: 100px;
}
.grid{
	text-align: center;
	padding-top: 50px;
}
.gridRow{
    width: 750px;
    height: 100px;
    border: none;/*1px dotted #999999;*/
    position:relative;
    left:20%;
}

.gridCell{
    width: 100px;
    height: 100px;
    float: left;
    border: 1px dotted #eeeeee;
}
.gridCell a img{
    width: 100px;
    height: 100px;    
}

.divGridBckground{
	position: absolute;
	left: 120px; 
	top: 40px;
	z-index: -1;
}

.divCell22{
	position: absolute;
	left: 267px; 
	top: 125px; 
}

.divCell24{
	position: absolute;
	left: 467px; 
	top: 82px; 
}

.divCell43{
	position: absolute;
	left: 380px; 
	top: 251px; 
}

.main{
    height: 425px;
}

.mailContainer{
    padding-top: 100px;
}

.mailText{
    padding-top: 20px;
}

.mailLink{
    font-size: 15px;
    color: #006600;
    text-decoration: none;
    border: none;
    outline: 0;    
}

.clear{
	clear: both;
}

.preFooter{
	margin-top:10px;
}

.detail{
	padding-left: 50px;
}
.sp_desc{
    font-family: 'Shadows Into Light', cursive;
    font-size: 13px;
	padding: 10px;
	color: #777777;
}
.en_desc{
    font-family: 'Shadows Into Light', cursive;
    font-size: 13px;
	padding: 10px;
}
.measure_desc{
    font-family: 'Shadows Into Light', cursive;
    font-size: 15px;
	padding: 10px;
}

.desc_container{
	padding: 20px;
	height: 340px;
}
.desc_container2{
	padding: 20px;
	text-align: right;
}
.work_title_en{
    font-family: 'Shadows Into Light', cursive;
	font-size: 14px;
	margin-top: 40px;
}
.work_title_es{
    font-family: 'Shadows Into Light', cursive;
	font-size: 14px;
	margin-top: 10px;
	color: #777777;
}
.bottom_text{
	padding-top: 330px;
}

.work_main_img{
	float:left;
	padding: 20;
}
.hidden{
	display:none;
}

.imgDetailContainer{
	width: 250px;
	height: 350px;
	margin-top: 50px;
}

.mirilla{
	padding-left: 40px;
}


.initbody{
	background-color:#cacecc;	
}
.initpicture{
	text-align: center;
}

.footer2{
	margin-top:20px	
}

.green{
	color:#00aa00;
}

.espacio_alto_medio{
	margin-top:30px;
}

.espacio_alto_100{
	margin-top:100px;
}

.espacio_alto_350{
	margin-top:350px;
}

.espacio_alto_210{
	margin-top:210px;
}

.espacio_bajo_30{
	margin-bottom:30px;
}
